* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #111;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav-a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-a_img {
    width: 50px;
    margin-left: 100px;
}

.nav-titulo {
    color: #eee;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    font-family: inherit;
}

.nav-ul {
    display: flex;
    margin-left: auto;
    padding-right: 120px;
}

.nav-ul li {
    list-style: none;
    margin: 0 16px;
}

.nav-ul a {
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    font-family: inherit;
}

.nav-ul a:hover,
.nav-titulo:hover {
    color: #a74;
}

.servicioCliente {
    width: 45%;
    margin: auto;
    margin-top: 115px;
}

.servicioCliente h1 {
    font-size: 28px;
    line-height: 36px;
    text-align: left;
    color: #333;
}

.servicioCliente span {
    margin: 20px 0;
    color: #333;
    line-height: 28px;
}

.contenedor-servicio {
    margin: 15px 0;
    display: flex;
}

.contenedor-servicio_img {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.contenedor-servicio_img img {
    width: 100%;
    margin-top: auto;
}

.contenedor-servicio_info{
    padding: 0 0 0 45px;
}

.contenedor-servicio_info h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

.contenedor-servicio_info span{
    color: #333;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.footer-contenedor {
    width: 85%;
    margin: auto;
    margin-top: 40px;
    padding-top: 25px;
    color: #333;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #9999;
    border-bottom: 1px solid #9999;
}

.footer-contenedor_a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 8px 0;
    padding: 20px 0;
}

.footer-derechoAutor {
    width: 85%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.footer-derechoAutor_a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
}

.footer-derechoAutor p {
    color: #333;
    font-size: 13px;
}