* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    padding-top: 80px; /* espacio por nav fixed */
}

/* NAV */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #111;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav-a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-a_img {
    width: 50px;
    margin-left: 100px;
}

.nav-titulo {
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
}

.nav-ul {
    display: flex;
    margin-left: auto;
    padding-right: 120px;
}

.nav-ul li {
    list-style: none;
    margin: 0 25px;
}

.nav-ul a {
    color: #eee;
    text-decoration: none;
    font-size: 18px;
}

.nav-ul a:hover,
.nav-titulo:hover {
    color: #a74;
}

/* PORTADA */
.portada {
    height: 70vh;
    background: url("img/portada3.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
}

.portada-descripcion {
    background: #111a;
    margin-left: 250px;
    padding: 40px;
    border-radius: 10px;
}

.portada-descripcion h2 {
    color: #eee;
    font-size: 32px;
}

.portada-descripcion span {
    color: #eee;
    font-size: 27px;
    font-weight: bold;
}

.portada-descripcion a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 14px;
    background: #a74;
    color: #eee;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}

.portada-descripcion a:hover {
    background: #741;
}

/* TITULOS */
.h2-titulo {
    text-align: center;
    margin: 30px 0;
    color: #740;
    font-size: 28px;
}

/* FIX PARA NAV FIXED */
section {
    scroll-margin-top: 90px;
}

/* FILTROS */
.productos-filtros {
    text-align: center;
    margin-bottom: 20px;
}

.filtro,
.filtro-activo {
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.filtro-activo {
    background: #a74;
    color: #fff;
}

.filtro:hover {
    background: #a74;
    color: #fff;
}

/* GRID */
.grid-recientes {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: 0.3s;
}

.grid-item img {
    width: 75%;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}

.grid-item h3 {
    text-align: center;
    font-size: 14px;
}

.calificacion {
    text-align: center;
}

.calificacion span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

.grid-item i {
    color: #f4c150;
}

.grid-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 35px rgba(0,0,0,0.18);
}
